/* Återställ standardmarginal, utfyllnad och teckensnitt för alla element */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Kroppsstyling */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/bilden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 110px;
}
/* Centrera bilder */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Ta bort liststil */
ul {
  list-style: none;
}
/* Header styling */
.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
/* Logo styling */
.logo {
  display: inline-block;
  margin-left: 10px;
}
/* Navigation styling */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  align-items: center;
  overflow: hidden;
  position: fixed;
  background-color: #ff465e;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
/* Menu link styling */
.menu a {
  display: block;
  padding: 30px;
  color: #fff;
}
/* Hamburger icon styling */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
} /* Style label tag */
.hamb-line {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Style the topnav links */
.header a {
  text-align: center;
  padding: 23px 16px;
  font-size: 20px;
}
.topnav {
  flex: 1;
  text-align: center;
  overflow: hidden;
}
#content-title {
  font-size: 50px;
  font-style: italic;
}

/* Change color on hover */
.header a:hover {
  /* background-color: rgb(109, 84, 94); */
  text-decoration: underline;
  text-underline-offset: 10px;
}

.topnav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*
för att markera de på röd färg när man stoppar hos 
de och den blir färgläggad efter 0.4 sekunder
*/
.topnav a:hover {
  color: red;
  transition: 0.4s;
}

.topnav ul {
  list-style: none;
  display: inline-block;
  padding: 10px 13px;
  position: relative;
}

.topnav ul a {
  text-decoration: none;
  font-size: 20px;
}

.topnav ul::after {
  width: 0;
  height: 3px;
  content: "";
  background: red;
  display: block;
  margin: auto;
}

.topnav ul :hover ::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 40%;
  bottom: 50%;
  text-align: left;
  padding: 10px 30px;
}

.text-box h2 {
  font-size: 50px;
}

.text-box p {
  margin: 10px 0px 35px;
  font-size: 15px;
  color: #fff;
}

.text-box a {
  text-decoration: none;
  color: white;
}

.boka a {
  padding: 0px;
  color: #fff;
}

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0px;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
    display: inline;
  }

  .hamb {
    display: none;
  }
  .topnav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /*
för att markera de på röd färg när man stoppar hos 
de och den blir färgläggad efter 0.4 sekunder
*/
  .topnav a:hover {
    color: red;
    transition: 0.4s;
  }

  .topnav ul {
    list-style: none;
    display: inline-block;
    padding: 10px 13px;
    position: relative;
  }

  .topnav ul a {
    text-decoration: none;
    font-size: 20px;
  }

  .topnav ul::after {
    width: 0;
    height: 3px;
    content: "";
    background: red;
    display: block;
    margin: auto;
  }

  .topnav ul :hover ::after {
    width: 100%;
  }

  .menu li {
    float: left;
  }
  .menu a:hover {
    color: #ff465e;
  }
  .boka li {
    float: left;
  }
  .boka a:hover {
    color: #ff465e;
  }
}

@media (max-width: 1024px) {
  .nav {
    max-height: none;
    top: 0px;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
    display: inline;
  }

  .boka li {
    float: left;
  }
  .boka a:hover {
    color: #ff465e;
  }

  .hamb {
    display: none;
  }
  .topnav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /*
för att markera de på röd färg när man stoppar hos 
de och den blir färgläggad efter 0.4 sekunder
*/
  .topnav a:hover {
    color: red;
    transition: 0.4s;
  }

  .topnav ul {
    list-style: none;
    display: inline-block;
    padding: 10px 13px;
    position: relative;
  }

  .topnav ul a {
    text-decoration: none;
    font-size: 20px;
  }

  .topnav ul::after {
    width: 0;
    height: 3px;
    content: "";
    background: red;
    display: block;
    margin: auto;
  }

  .topnav ul :hover ::after {
    width: 100%;
  }

  .menu li {
    float: left;
  }
  .menu a:hover {
    color: #ff465e;
  }
}
